.error-message{
    color: red;
}
.form-data{
    display: table;
    margin: auto;
    text-align: left;
    vertical-align: text-top;
}

.form-register{
    margin-top: 100px;
    text-align: center;
}

.form-table-input{
    width:175px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.form-submit{
    display: inline-block;
    font-size:18px;
    font-weight: 700;
    color: snow;
    margin-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: forestgreen;
    border: none;
    border-radius: 8px;
}

.form-submit:hover{
    background-color: green;
}

.Email {
    width: 600px;
    padding: 30px
}

.Success {
    color: green;
}